static/images/*
instance/*
import/*
.vscode/*
app.log
data/*
__pycache__/*
app/__pycache__/*
app/routes/__pycache__/*
app/utils/__pycache__/*
static/mana/*
static/sets_icons/*
.DS_Store
project_contents.md
*.zip
static/mtg_images/*
static/mtg_mana/*
static/mtg_sets_icons/*
__pycache__/mtg_db.cpython-313.pyc
