/* custom.css */
@font-face {
    font-family: 'Beleren';
    src: url('/static/fonts/Beleren2016-Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'Beleren', sans-serif !important;
    background-color: #f8f5f0 !important;
}

/* custom.css */

/* MTG Colors */
:root {
    --mtg-white: #F5F5F5;
    --mtg-blue: #0064FF;
    --mtg-black: #000000;
    --mtg-red: #FF3300;
    --mtg-green: #008000;
}

/* Example usage */
.mtg-white {
    color: var(--mtg-white);
}

.mtg-blue {
    color: var(--mtg-blue);
}

.mtg-black {
    color: var(--mtg-black);
}

.mtg-red {
    color: var(--mtg-red);
}

.mtg-green {
    color: var(--mtg-green);
}

/* custom.css */

.card {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.card-body {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.spinner {
    border: 4px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    border-top: 4px solid #3498db;
    width: 30px;
    height: 30px;
    animation: spin 1s linear infinite;
    margin: auto;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

#loading-spinner {
    text-align: center;
    margin: 20px;
    font-family: Arial, sans-serif;
}

a,
a:visited {
    color: #000 !important;
    text-decoration: underline;
    /* or 'none' if you don't want underlines */
}

a:hover,
a:focus {
    color: #444 !important;
    /* or any dark shade you prefer */
    text-decoration: underline;
}