/* custom.css */
@font-face {
    font-family: 'Beleren';
    src: url('/static/fonts/Beleren2016-Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'Beleren', sans-serif !important;
    background-color: #f8f5f0 !important;
}

/* custom.css */

/* MTG Colors */
:root {
    --mtg-white: #F5F5F5;
    --mtg-blue: #0064FF;
    --mtg-black: #000000;
    --mtg-red: #FF3300;
    --mtg-green: #008000;
}

/* Example usage */
.mtg-white {
    color: var(--mtg-white);
}

.mtg-blue {
    color: var(--mtg-blue);
}

.mtg-black {
    color: var(--mtg-black);
}

.mtg-red {
    color: var(--mtg-red);
}

.mtg-green {
    color: var(--mtg-green);
}

/* custom.css */

.card {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.card-body {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.card img {
    max-height: 100px;
    margin-top: auto;
    /* Push the image to the bottom */
}

.btn {
    margin-top: auto;
    /* Push the button to the bottom */
    width: 100%;
    /* Ensure the button spans the full width */
}

/* custom.css */

.btn-outline-primary {
    margin-right: 10px;
    /* Add some spacing between the buttons */
}