<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Flask App</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootswatch@5.3.0/dist/sandstone/bootstrap.min.css">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/spinner.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/custom.css') }}">
</head>



<body>
    <nav class="navbar navbar-expand-lg bg-light" data-bs-theme="light">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">MTG-DB</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor03"
                aria-controls="navbarColor03" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarColor03">
                <ul class="navbar-nav me-auto">
                    <li class="nav-item">
                        <a class="nav-link active" href="/">Home
                            <span class="visually-hidden">(current)</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/advanced_search">Advanced Search</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/sets">Sets</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('cards.import_csv') }}">Import Inventory</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">About</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button"
                            aria-haspopup="true" aria-expanded="false">Inventory</a>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="{{ url_for('inventory.list_inventories') }}">My
                                Inventories</a>
                            <a class="dropdown-item" href="{{ url_for('inventory.create_inventory') }}">Create New
                                Inventory</a>
                            <!-- You can add more inventory-related links here -->
                        </div>
                    </li>
                    </li>
                </ul>
                <form method="post" class="d-flex">
                    <input class="form-control me-sm-2" type="search" name="query" placeholder="e.g. goblin" required>
                    <button class="btn btn-dark my-2 my-sm-0" type="submit">Search</button>
                </form>
            </div>
        </div>
    </nav>
    <div class="container">
        {% block content %}
        {% endblock %}
    </div>
    <!-- Bootstrap JS Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    <!-- Global loading spinner -->
    <div class="loading-spinner" id="loading-spinner">
        <div class="custom-spinner"></div>
        <p>Loading...</p>
    </div>

    <script src="{{ url_for('static', filename='js/Loading.js') }}"></script>

</body>

</html>